@import 'highcharts';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

section, article, aside, footer, header, nav {
  display: block;
}

#app {
  height: 100%;
}
