* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

#app {
  height: 100%;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer {
  padding: 5px 30px 5px 20px;
  background-color: #d6e9fe;
}

.footer-one {
  margin-right: auto;
}

.footer-two {
  margin-right: 20px;
}
